* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.navbar{
  background-color: black;
  color: white;
  display: flex;
  justify-content:space-between;
  align-items: center;
  padding: 40px;
}

ul{
  display: flex;
 list-style: none;
}

li{
  margin-left:15px;
}

.links{
  padding: 4px 6px;
  text-decoration: none;
  color: white;
  margin: 0px 10px;
}

.active{
  border: 1 px solid white;
  padding: "4px 6px";
  border-radius: 4px;
}

.main{
  min-height: 88vh;
  margin: 20px;
}

.contador{
  display: flex;
  text-align: center;
}

.material-symbols-outlined{
  color: burlywood;
}

.span-carrito-de-compras {
  font-size: 1em;
  margin-right: 20px;
}

.circulo-productos {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 1.6em;
  height: 1.5em;
  position: absolute;
  transform: translate(20%,-50%);
  background-color: red;
  border-radius: 50%;
}

body{
  font-size: 18px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.itemListContenedor { 
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  
}

.item{
  margin: 50px 50px;
  padding: 20px ;
  background-color: #ffffff;
  box-shadow: 0 3px 13px 1px;
}

.itemDetailContenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.botonIrAlCarrito {
  display: flex;
  justify-content: center;
}