* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.navbar{
  background-color: black;
  color: white;
  display: flex;
  justify-content:space-between;
  align-items: center;
  padding: 40px;
}

ul{
  display: flex;
 list-style: none;
}

li{
  margin-left:15px;
}

.links{
  padding: 4px 6px;
  text-decoration: none;
  color: white;
  margin: 0px 10px;
}

.active{
  border: 1 px solid white;
  padding: "4px 6px";
  border-radius: 4px;
}

.main{
  min-height: 88vh;
  margin: 20px;
}

.saludo{
  display: flex;
  justify-content: center;
  font-size: 30px ;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-top: 50px;
  font-style: oblique;
}

.contador{
  display: flex;
  text-align: center;
}

.material-symbols-outlined{
  color: burlywood;
}

.span-carrito-de-compras {
  font-size: 1em;
  margin-right: 20px;
}

.circulo-productos {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 1.6em;
  height: 1.5em;
  position: absolute;
  transform: translate(20%,-50%);
  background-color: red;
  border-radius: 50%;
}

body{
  font-size: 18px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.itemListContenedor { 
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  
}

.item{
  margin: 50px 50px;
  padding: 20px ;
  background-color: #ffffff;
  box-shadow: 0 3px 13px 1px;
}

.itemDetailContenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.form{
  display: flex;
  flex-direction: column;
  width: 450px;
  margin: 40px;
}



.elemento-formulario{
  padding: 10px;
  margin: 10px 0px;
}

label > span {
  color: red;
}

.btn-checkout {
  display:inline-block;
  width: 365px;
  padding:0.8em 1.2em;
  margin:4em 0.3em 0.3em 0;
  border-radius:2em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color:#FFFFFF;
  background-color:#4eb5f1;
  text-align:center;
  transition: all 0.2s;
}
.btn-checkout:hover{
  background-color:#4095c6;
}

.table-container{
  padding: 3em;
}

.btn-delete {
  display:inline-block;
  padding:0.3em 1.2em; 
  margin:0 0.1em 0.1em 0;
  border:0.16em solid rgba(255,255,255,0);
  border-radius:2em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color:#FFFFFF;
  text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
  text-align:center;
  transition: all 0.2s;
  background-color:#f14e4e;
}

.btn-delete:hover {
  background-color:#d61e1e;
}
